<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h2><a href="/">Our StoryTelling App</a></h2>
      <nav>
        <% if(user) {%>
        <a href="/create-post">Create Post</a>
        <a href="/logout">Log Out</a>
        <% } else {%>
        <a href="login">Log In</a>
        <% } %>
      </nav>
    </header>

    <main>
      <h6>Hello <% user.username %></h6>
      <h5>Welcome to your Dashboard</h5>
    </main>
    <footer>
      <small>&copy; All Rights Reserved</small>
    </footer>
  </body>
</html>
